* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(229, 226, 226); 
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(228, 227, 227);
    font-size: 1rem;
}

#left {
    width: 16rem;
    background-image: linear-gradient(to right, #be3c58, #e08737);
    margin-top: 3.75rem;
    padding-right: 1rem;
    float: right;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
  }

.titulo {
    color: white;
    margin-left: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
table {
    color: white;
    font-size: 1.4rem;
    border-collapse: collapse;
    margin-left: 3rem;
} 
td, th {
    border: 1px solid  #be3c58;
    padding: 0.5rem 1rem;
}

.pronostico {
    color: white;
    margin-left: 3rem;
    text-align: center;
    margin-top: 1rem;
}
.bloque {
    margin-top: 3.75rem;
    background-image: linear-gradient(to right, #e08737, #be3c58);
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right; 
}

.calculadora {
    width: 400px;
    height: 450px;
    border: 8px solid none;
    text-align: center;
    background-color: #d68e8981;
}

section {
    margin-top: 10px;
}

#resultado {
    border: 3px solid #dba5a4;
    height: 40px;
    width: 300px;
    margin: 20px;
    background-color: rgb(228, 234, 241);
    font-size: x-large;
    font-weight: bold;
    color: #673840;
}

button {
    border: 6px solid #dba5a4;
    background: #df5e5e;
    height: 55px;
    width: 55px;
    margin: 10px 5px;
    font-size: x-large;
    color: white;
}

#suma,
#resta,
#multiplicacion,
#division,
#reset,
.parentesis,
#igual,
#tiempo {
    background: #673840;
}

#datos {
    visibility: hidden;
}

ul {
    color: white;
}
 li {
    font-size: 1.1rem;
    padding: 0.5rem 1rem; 
 }


